
<div class="wrapper center">
  <div class="slice">
    <div class="tomato"></div>
    <div class="tomato"></div>
    <div class="olive"></div>
  </div>
  <div class="slice">
    <div class="tomato"></div>
    <div class="tomato"></div>
    <div class="olive"></div>
  </div>
  <div class="slice">
    <div class="tomato"></div>
    <div class="tomato"></div>
    <div class="olive"></div>
  </div>
  <div class="slice">
    <div class="tomato"></div>
    <div class="tomato"></div>
    <div class="olive"></div>
  </div>
  <div class="slice">
    <div class="tomato"></div>
    <div class="tomato"></div>
    <div class="olive"></div>
  </div>
  <div class="slice">
    <div class="tomato"></div>
    <div class="tomato"></div>
    <div class="olive"></div>
  </div>
</div>
